* {
    box-sizing:border-box;
    text-align:center;
  }

  figure {
    display:inline-block;
    vertical-align:center;
    position:relative;
    overflow:hidden;
    border-style: solid;
    border-block-color: black;
    border-width: 2px;
    box-shadow: 10px 5px #888888;
  }
  
  img {
    display:block;
  }
  
  
  
  .fade figcaption {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:white;
    line-height:600px;
    background: rgba(0,0,0,0);
  }
  
  
  .fade figcaption {
    background: rgba(0,0,0,0.5);
    opacity:0;
    transition:opacity 0.5s ease;
  }
  
  .fade figcaption:hover {
    opacity:1;
    cursor: pointer;
  }

  .table {
      display: inline-block;
  }