<ul>
    <div class="table" *ngFor="let movie of movies">
        <figure class="fade" title="{{movie.title}}">
            <a (click)="onSelect(movie)">
                <img [src]="movie | movieImage" alt="movie.title">
                    <figcaption> {{ movie.title }} </figcaption>
            </a>
            </figure>
    </div>
</ul>
