<article>
    <div class="principal">
        <h2>{{movie.title}}</h2>
            <div class="image">
                <img [src]="movie | movieImage" [alt]="movie.original_title">
            </div>
            <div class="overview">
                <h3>Overview</h3>
                <hr>
                <p class="text-justify">
                {{ movie.overview }}
                </p>
                <h3>Comments</h3>
                <hr>
                <ul>
                    <li class="text-justify" *ngFor="let comment of comments">
                    {{comment}}
                    </li>
                </ul>
            </div>
        </div>
</article>