h2 {
    text-align: center;
}

article {
    text-align: center;
}

.principal {
    margin: auto;
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 1px;
    box-shadow: 5px 5px #888888;
    min-width: 250px;
    min-height: 250px;
    padding: 13px;
    display: inline-block;
}

.image {
    float: left;
    box-shadow: 5px 5px #888888;
    margin: 10px 20px;
}
.overview {
    position: relative;
}

.text-justify{
    text-align: justify;
}

